In [1]:
from tqdm.notebook import tqdm
import numpy as np
import re
import pandas as pd

# Data analysis (biography)

In [2]:
df = pd.read_parquet('data/text_data.parquet.gzip')
# df = df.loc[df['id'].str[0] == 'f']

In [3]:
df['split_text'] = df['text'].apply(lambda x: re.split(' |\.|,|;|!|\?|\"|/|\(|\)|\[|]|&|:|-|\' |=', x.lower()))

In [4]:
df_word_counts = df['split_text'].explode().value_counts()
relevant_words = set(df_word_counts.loc[(df_word_counts >= 10) & (df_word_counts <= 500)].index)
# relevant_words

In [5]:
word_ratings_temp = {}
def word_to_rating(row):
    for word in row['split_text']:
        if word in word_ratings_temp:
            word_ratings_temp[word].append(row['avg_rating'])
        else:
            word_ratings_temp[word] = [row['avg_rating']]

In [6]:
test = df.apply(lambda x: word_to_rating(x), axis=1)

In [7]:
word_ratings = {'word': [], 'avg_rating': []}
for word, ratings in word_ratings_temp.items():
    if word in relevant_words:
        word_ratings['word'].append(word)
        word_ratings['avg_rating'].append(np.mean(ratings))
df_word_ratings = pd.DataFrame(word_ratings)

In [8]:
df.loc[df['text'].str.contains('basketball')]

,id,number_ratings,avg_rating,text,split_text
185,f_0186,12455,9.8,"I'm a Dancer,Gymnastics,i play rugby,volleybal...","[i'm, a, dancer, gymnastics, i, play, rugby, v..."
367,f_0368,4970,9.8,so i like sports i used to do cheerleading i l...,"[so, i, like, sports, i, used, to, do, cheerle..."
522,f_0523,11558,9.2,hey im jessica im 5 5 and yes i no im short i ...,"[hey, im, jessica, im, 5, 5, and, yes, i, no, ..."
695,f_0696,7324,9.8,"Hey I'm Amanda. Im a very sweet, funny, and cu...","[hey, i'm, amanda, , im, a, very, sweet, , fun..."
834,f_0835,15289,9.4,"I'm an easy going person. I like camping, tra...","[i'm, an, easy, going, person, , , i, like, ca..."
862,f_0863,8427,9.4,"I enjoy life, play guitar, love basketball, an...","[i, enjoy, life, , play, guitar, , love, baske..."
1188,m_0189,11371,9.1,"Hi Im Jason. Im originally from Pittsburgh, P...","[hi, im, jason, , , im, originally, from, pitt..."
1425,m_0426,111,9.4,"My name is Isaac, im almost 20 and going to co...","[my, name, is, isaac, , im, almost, 20, and, g..."
1649,m_0650,4055,8.9,Hey What's up..I'm Jay. I like to hang out wit...,"[hey, what's, up, , i'm, jay, , i, like, to, h..."
1675,m_0676,785,9.6,"utica, ny. interests include basketball, shawn...","[utica, , ny, , interests, include, basketball..."
1904,m_0905,178,9.3,Well i am 6'2&quot; around 180 lbs. I am from...,"[well, i, am, 6'2, quot, , around, 180, lbs, ,..."
1979,m_0980,3571,9.8,I'm 5'10. I enjoy playing basketball and love ...,"[i'm, 5'10, , i, enjoy, playing, basketball, a..."